@import "../node_modules/font-awesome/css/font-awesome.min.css";

body {
    margin: 0;
    padding: 0;
    background-color: #4bbf6b;
    font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

input {
    color: #333;
    line-height: 18px;
    font-weight: 400;
    font-size: 14px;
}

textarea {
    font-size: 14px;
    overflow: hidden;
    word-wrap: break-word;
    border: 1px solid transparent;
    border-radius: 3px;
    outline: none;
    transition: none;
    background: transparent;
    resize: none;
}

textarea:focus {
    border: 1px solid #0079BF;
    border-radius: 3px;
    box-shadow: 0 0 2px 0 #0284C6;
}

.input-cancel {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    color: #999;
    height: 2pc;
    font-size: 30px;
    line-height: 33px;
    width: 32px;
    cursor: pointer;
}

.input-saver {
    background: #5AAC44;
    box-shadow: 0 1px 0 #519839;
    color: #fff;
    height: 30px;
    margin-top: 4px;
    padding: 4px 16px;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}

.input-saver:hover {
    background: #519839 100%;
}

.input-saver:focus {
    background: #49852e 100%;
    outline: none;
}

.invisible {
    visibility: hidden;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

::-webkit-scrollbar-track:vertical, ::-webkit-scrollbar-track:horizontal {
    background-color: #d6dadc;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-color: #c4c9cc;
}