.card {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 6px;
    max-width: 300px;
    min-height: 16px;
    padding: 8px 6px;
}

.card-content {
    line-height: 18px;
    word-wrap: break-word;
    white-space: normal;
}

.card.dragging {
    background-color: #c4c9cc;
}

.card-content.dragging {
    opacity: 0;
}

.card-remover {
    float: right;
    width: 18px;
    height: 18px;
    text-align: center;
}

.hovered {
    background-color: #edeff0;
}