.card {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 6px;
    max-width: 300px;
    min-height: 24px;
    padding: 6px 6px 2px 8px;
}

.card.dragging {
    background-color: #c4c9cc;
}

.card-content.dragging {
    opacity: 0;
}